#site {
	font-family: 'Work Sans', Helvetica, sans-serif;
}

body {
	background-image: url(images/hack-reactor-logo-faded.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 75%;
	margin: 50px
}

h2 {
	text-decoration: underline;
	text-align: center;
}

#intro {
	margin: auto;
    border: 3px solid blue;
    padding: 10px;
}

a {
	font-weight: bold
}

.navbar-default {
  background-color: #020afb;
  border-color: #00ebf6;
}
.navbar-default .navbar-brand {
  color: #fdffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > a {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #020afb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #00ebf6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #00ebf6;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: #00ebf6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #00ebf6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #00ebf6;
}
.navbar-default .navbar-toggle {
  border-color: #00ebf6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00ebf6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdffff;
}
.navbar-default .navbar-link {
  color: #fdffff;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #00ebf6;
  }
}
